$background-color : #0d0b2f;
$name-color : antiquewhite;
$title-color : antiquewhite;

a, u {
  text-decoration: none !important;
  color: white;
}

.center {
  position: relative;
  left: 50%;

  transform: translateX(-50%);
}

body {
}
